[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
transportlayer = {editable = true,git = "ssh://git@github.com/LimeTray/tl-python-sdk.git",ref = "master"}
boto3 = "==1.4.4"
aiohttp = "==1.3.3"
bunyan = "==0.1.2"
wget = "==3.2"
bugsnag = "==3.1.0"
uvloop = "==0.8.0"
stomp-py = "==4.1.15"

[requires]
python_version = "3.6"
